[submodule "dependencies/marisa-trie"]
	path = dependencies/marisa-trie
	url = https://github.com/s-yata/marisa-trie
[submodule "dependencies/libosmscout"]
	path = dependencies/libosmscout
	url = https://github.com/Karry/libosmscout.git
