[submodule "dependencies/marisa-trie"]
	path = dependencies/marisa-trie
	url = https://github.com/Karry/marisa-trie.git
[submodule "dependencies/libosmscout"]
	path = dependencies/libosmscout
	url = https://github.com/Karry/libosmscout.git
[submodule "wiki"]
	path = wiki
	url = https://github.com/Karry/osmscout-sailfish.wiki.git
[submodule "dependencies/espeak-ng"]
	path = dependencies/espeak-ng
	url = https://github.com/espeak-ng/espeak-ng.git
[submodule "dependencies/piper1-gpl"]
	path = dependencies/piper1-gpl
	url = https://github.com/OHF-Voice/piper1-gpl.git
[submodule "dependencies/onnxruntime"]
	path = dependencies/onnxruntime
	url = https://github.com/microsoft/onnxruntime.git
