[Desktop Entry]
Type=Application

# TYPE chooses the type of booster used. Qt-booster may be used to
# launch anything. Possible values for TYPE:
#   qt5                    Launch a Qt 5 application.
#   qtquick2               Launch a Qt Quick 2 (QML) application.
#   silica-qt5             Launch a Sailfish Silica application.
#   generic                Launch any application, even if it's not a library.
#
# Use invoker command to start with booster:
# /usr/bin/invoker --type=generic /usr/bin/harbour-osmscout 
X-Nemo-Application-Type=silica-qt5

Icon=harbour-osmscout
Exec=harbour-osmscout
# Exec=/usr/bin/sailjail -p harbour-osmscout.desktop /usr/bin/harbour-osmscout

Name=OSM Scout
# translation example:
# your app name in German locale (de)
#
# Remember to comment out the following line, if you do not want to use
# a different app name in German locale (de).
Name[hu]=OSMScout

[X-HarbourBackup]
BackupPathList=.local/share/cz.karry.osmscout/OSMScout:.config/cz.karry.osmscout/OSMScout.conf

[X-Sailjail]
# TODO: solve access to ~/Maps directory and migration of .cache, .share, .config
Permissions=Sharing;Internet;Audio;Location;RemovableMedia;Documents;Downloads
OrganizationName=cz.karry.osmscout
ApplicationName=OSMScout
