[Desktop Entry]
Type=Application
Icon=harbour-osmscout
Name=OSM Scout

MimeType=x-scheme-handler/geo;
X-Maemo-Service=cz.karry.osmscout.OSMScout
X-Maemo-Object-Path=/cz/karry/osmscout/OSMScout
X-Maemo-Method=cz.karry.osmscout.OSMScout.openUrl

NotShowIn=X-MeeGo;
Hidden=true
